@media (min-width: 768px) {
    header {
        flex-wrap: nowrap;
    }

    #menu-toggle {
        display: none;
    }

    nav ul {
        display: flex !important;
        flex-direction: row;
        width: auto;
    }

    nav a {
        border-top: none;
    }

    #directory-cards.grid-view {
        grid-template-columns: repeat(3, 1fr);
    }

    footer {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    .footer-contact {
        text-align: left;
        white-space: nowrap;
    }

    .footer-dev {
        text-align: right;
        white-space: nowrap;
    }

    .footer-social {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 1rem;
    }
}